.entirePlace__info {
    padding: 20px;
  }

.entirePlace__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.entirePlace__info > h1 {
    margin-bottom: 30px;
}

.entirePlace__info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
    border: 2.5px solid black;
  }