.farm__info {
    padding: 20px;
  }
.active{
    border: 2.5px solid black !important;
}
.farm__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.farm__info > h1 {
    margin-bottom: 30px;
}

.farm__info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
  }

